/* GLOBAL */
* {
	box-sizing: border-box;
	font-family: inherit;
}
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000;
	background-color: #000;
}
hr {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IDs */
#overlay {
	display: none;
	opacity: 0;
	z-index: 200;
}
#hello {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#title {
	padding: 10px;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
#canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#connecting {
	display: none;
	z-index: 100;
}
#connectingInner {
	width: 350px;
	margin: 100px auto;
}
#nick {
	width: 55%;
	float: left;
}
#gamemode {
	width: 43%;
	float: right;
}
#gallery-btn, #footer {
	width: 100%;
}
#gallery-btn {
	background-color: #5bc0de;
}
#play-btn {
	background-color: #337ab7;
	width: 85%;
	float: left;
}
#spectate-btn {
	background-color: #f0ad4e;
	width: 13%;
	float: right;
}
#options {
	margin: 0px;
	position: relative;
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}
#options label {
	margin: 0;
	margin-right: 10px;
	cursor: pointer;
	display: inline-block;
	user-select: none;
}
#options label .checkbox {
	margin: 0;
	margin-right: 5px;
	vertical-align: -15%;
	cursor: pointer;
}
#footer {
	display: flex;
	justify-content: space-around;
}
/* CLASSES */
.full {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}
.dialog {
	background-color: #fff;
	border-radius: 15px;
	padding: 5px 15px 5px 15px;
}
.form-control {
	height: 34px;
	color: #555;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.elm {
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
}
.btn {
	color: #fff;
	white-space: nowrap;
	border: 0px;
}
.text-muted {
	color: #777;
}
.spacer {
	width: 100%;
	height: 10px;
	margin: 0;
	border: 0;
	display: block;
}
.animatedAppear {
	transition: opacity 1s ease;
}
@font-face {
	font-family: "Glyphicons Halflings";
	src: url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/fonts/glyphicons-halflings-regular.woff2") format("woff2");
}
.glyphicon {
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
}
.eye-open:before {
	content: "\e105";
}
